<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" shutdownHook="disable" status="WARN">
  <Appenders>
    <Console follow="true" name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>

  <Properties>
    <Property name="LOG_PATTERN">%highlight{[%d{HH:mm:ss}] [%p] [%c{1}] -> %m%n%throwable}{FATAL=red bold,
      ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue}
    </Property>
  </Properties>
</Configuration>
