name: Build Pull Request

on: [ pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Assemble Jar
        run: gradle --no-daemon thinJar

      - name: Run Java docs
        run: gradle --no-daemon javadoc

      - name: Upload jar as artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: cytosis
          path: build/libs/cytosis.jar
